{{ "component-card.css" | asset_url | stylesheet_tag }}
<div class="feature__list-product">
  <h2>
    <span>最</span>近チェックした商品</h2>
  <div class="feature__list">
    <div class="feature__item">
      <img src="{{ '../assets/wishlist7.jpeg' | asset_url }}" alt="">
      <p>半生讃岐石丸うどん包丁切り（20袋）</p>
      <span>5,000円（税込）</span>
    </div>
    <div class="feature__item">
      <img src="{{ '../assets/wishlist9.jpeg' | asset_url }}" alt="">
      <p>HP-24 半生讃岐石丸うどん24人前セット つゆ付【送料込※】</p>
      <span>3,500円（税込）</span>
    </div>
    <div class="feature__item">
      <img src="{{ '../assets/wishlist6.jpeg' | asset_url }}" alt="">
      <p>HP-15B 半生讃岐石丸うどん15人前セット（つゆ付）</p>
      <span>1,900円（税込）</span>
    </div>
    <div class="feature__item">
      <img src="{{ '../assets/wishlist5.jpeg' | asset_url }}" alt="">
      <p>HP-15A 半生讃岐石丸うどん15人前セット（麺のみ）</p>
      <span>1,450円（税込）</span>
    </div>
  </div>
</section>