{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    }
{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<cart-items class="{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
    <div class="cart__shopping">
        <h2><span>買</span>い物カゴ</h2>
        <div>
            <table class="table__cart">
                <tr class="title__table-cart">
                    <th colspan="3">商品情報</th>
                    <th class="col-2">数量</th>
                    <th>ポイント</th>
                    <th>価格</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="number__capacitors">1</td>
                    <td class="cart__image"><img src="{{ '../assets/wishlist7.jpeg' | asset_url }}" alt=""></td>
                    <td class="cart__select">
                        <p>半生讃岐石丸うどん包丁切り（20袋）</p>
                        <div class="select-item">
                            <select>
                                <option value="0">--包装(必須)--</option>
                                <option value="1" selected="">1、包装なし</option>
                                <option value="2">2、簡易包装のみ [表書・名入れ不可]</option>
                                <option value="3">6、新デザインかけ紙【い】[あさの葉]</option>
                                <option value="4">7、新デザインかけ紙【ろ】[ベーシック]</option>
                                <option value="5">8、新デザインかけ紙【は】[うどんシルエット]</option>
                                <option value="6"> : 3、完全包装[有料](+50円)</option>
                            </select>
                            <select>
                                <option value="1" selected="">50、のしなし</option>
                            </select>
                        </div>
                    </td>
                    <td style="text-align: center">1</td>
                    <td>28P</td>
                    <td>2,850円</td>
                    <td class="btn__item">
                        <img src="{{ '../assets/addWishBtn.png' | asset_url }}" alt="">
                        <img src="{{ '../assets/wishlistCancelBtn.png' | asset_url }}" alt="">
                    </td>
                </tr>
                <tr class="action">
                    <td></td>
                    <td></td>
                    <td class="name__item">
                        <p>【名入れ】と【外のし希望】(例→石丸　外のし） 完全<br>包装でのしをつける場合、基本は「内のし」です</p>
                        <p></p>
                    </td>
                    <td class="quantity">
                        <input type="text" value="1">
                        <div class="quantity__btn">
                            <img src="{{ '../assets/r_basketUp.png' | asset_url }}" alt="">
                            <img src="{{ '../assets/r_basketDown.png' | asset_url }}" alt="">
                        </div>
                        <p>修正</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="number__capacitors">2</td>
                    <td class="cart__image"><img src="{{ '../assets/wishlist1.jpeg' | asset_url }}" alt=""></td>
                    <td class="cart__select">
                        <p>半生讃岐石丸うどん包丁切り（20袋）</p>
                        <div class="select-item">
                            <select>
                                <option value="0">--包装(必須)--</option>
                                <option value="1" selected="">1、包装なし</option>
                                <option value="2">2、簡易包装のみ [表書・名入れ不可]</option>
                                <option value="3">6、新デザインかけ紙【い】[あさの葉]</option>
                                <option value="4">7、新デザインかけ紙【ろ】[ベーシック]</option>
                                <option value="5">8、新デザインかけ紙【は】[うどんシルエット]</option>
                                <option value="6"> : 3、完全包装[有料](+50円)</option>
                            </select>
                            <select>
                                <option value="1" selected="">50、のしなし</option>
                            </select>
                        </div>
                    </td>
                    <td style="text-align: center">1</td>
                    <td>14P</td>
                    <td>1,450円</td>
                    <td class="btn__item">
                        <img src="{{ '../assets/addWishBtn.png' | asset_url }}" alt="">
                        <img src="{{ '../assets/wishlistCancelBtn.png' | asset_url }}" alt="">
                    </td>
                </tr>
                <tr class="action">
                    <td></td>
                    <td></td>
                    <td class="name__item">
                        <p>【名入れ】と【外のし希望】(例→石丸　外のし） 完全<br>包装でのしをつける場合、基本は「内のし」です</p>
                        <p></p>
                    </td>
                    <td class="quantity">
                        <input type="text" value="1">
                        <div class="quantity__btn">
                            <img src="{{ '../assets/r_basketUp.png' | asset_url }}" alt="">
                            <img src="{{ '../assets/r_basketDown.png' | asset_url }}" alt="">
                        </div>
                        <p>修正</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="title__table-cart price__cart">
                    <td colspan="8">合計金額：<span>4,300円 (税込)</span></td>
                </tr>
            </table>
        </div>
        <div class="btnWrap">
            <div class="clear__back">
                <button>
                    <i class="fa-solid fa-house"></i>
                    買い物に戻る
                </button>
                <button>
                    <i class="fa-solid fa-trash-can"></i>
                    かごの中身を空にする
                </button>
            </div>
            <img src="{{ '../assets/btn_cart.png' | asset_url }}" alt="">
        </div>
        <hr>

    </div>
    <div class="cart__sp hide">
        <img src="{{ '../assets/btn_member.jpeg' | asset_url }}" alt="">
        <h2><span>カ</span>ートに入っている商品</h2>
        <div class="btnWrap">
            <button>　ご購入手続きへ進む >>　</button>
            <div class="clear__back">
                <button>
                    <i class="fa-solid fa-house"></i>
                    買い物に戻る
                </button>
                <button>
                    <i class="fa-solid fa-trash-can"></i>
                    かごの中身を空にする
                </button>
            </div>
        </div>
        <div class="cart__list">
            <div class="cart__item-sp">
                <div class="cart__item-image">
                    <img src="{{ '../assets/wishlist9.jpeg' | asset_url }}" alt="">
                </div>
                <div class="cart__item-info">
                    <p>半生讃岐石丸うどん包丁切り（20袋）</p>
                    <p>単価：5,000円(税込)</p>
                    <p>価格：50,000円(税込)</p>
                    <select>
                        <option value="0">--- 包装(必須) ---</option>
                        <option value="1" selected="selected">1、包装なし</option>
                        <option value="2">2、簡易包装のみ [表書・名入れ不可]</option>
                        <option value="3">6、新デザインかけ紙【い】[あさの葉]</option>
                        <option value="4">7、新デザインかけ紙【ろ】[ベーシック]</option>
                        <option value="5">8、新デザインかけ紙【は】[うどんシルエット]</option>
                        <option value="6"> : 3、完全包装[有料](+50円)</option>
                    </select>
                    <select>
                        <option value="1" selected="selected">50、のしなし</option>
                    </select>
                    <p>【名入れ】と【外のし希望】　(例→石丸　外のし）　完全包装でのしをつける場合、基本は「内のし」です</p>
                    <div class="amount">
                        <div class="amount__input">
                            <span>数量</span>
                            <input type="text" value="10">
                            <span>変更</span>
                        </div>
                        <p><i class="fa-solid fa-xmark"></i></p>
                    </div>
                </div>
            </div>
            <div class="cart__item-sp">
                <div class="cart__item-image">
                    <img src="{{ '../assets/wishlist6.jpeg' | asset_url }}" alt="">
                </div>
                <div class="cart__item-info">
                    <p>半生讃岐石丸うどん包丁切り（20袋）</p>
                    <p>単価：5,000円(税込)</p>
                    <p>価格：50,000円(税込)</p>
                    <select>
                        <option value="0">--- 包装(必須) ---</option>
                        <option value="1" selected="selected">1、包装なし</option>
                        <option value="2">2、簡易包装のみ [表書・名入れ不可]</option>
                        <option value="3">6、新デザインかけ紙【い】[あさの葉]</option>
                        <option value="4">7、新デザインかけ紙【ろ】[ベーシック]</option>
                        <option value="5">8、新デザインかけ紙【は】[うどんシルエット]</option>
                        <option value="6"> : 3、完全包装[有料](+50円)</option>
                    </select>
                    <select>
                        <option value="1" selected="selected">50、のしなし</option>
                    </select>
                    <p>【名入れ】と【外のし希望】　(例→石丸　外のし）　完全包装でのしをつける場合、基本は「内のし」です</p>
                    <div class="amount">
                        <div class="amount__input">
                            <span>数量</span>
                            <input type="text" value="10">
                            <span>変更</span>
                        </div>
                        <p><i class="fa-solid fa-xmark"></i></p>
                    </div>
                </div>
            </div>
            <div class="price__sp">
                <p>合計金額（税込）：</p>
                <span>53,200円</span>
            </div>
        </div>
    </div>
    <div class="name__engraved">
        <h2>【名入れ】に関して</h2>
        <p>特集ページから商品を買い物かごに入れた場合や、一度入力した名入れを変更したい場合は、</p>
        <span>商品名をクリックし商品詳細ページへ戻り、名入れの入力をお願いいたします。</span>
        <p>※不要になった変更前の商品は【×削除】ボタンで削除してください。（以降の変更は承れませんのでお気を付けください。）</p>
    </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
