{{ 'section-about.css' | asset_url | stylesheet_tag }}
<div class="page__about">
  <div class="about__slogan">
    <div class="breadcrumb__about">
      <ul class="breadcrumb">
        <li>
          <a href="#">ホーム</a>
        </li>
        <li>
          石丸製麺について
        </li>
      </ul>
    </div>
    <div class="slogan__company">
      <h2>石丸製麺について</h2>
      <p>愛されて110余年。<br>
        創業の精神をこれからもしっかり我社の礎としてまいります。
      </p>
    </div>
    <div class="hospital">
      <img src="{{ '../assets/hospital.jpeg' | asset_url }}" alt="">
      <p>本社工場(香川県)</p>
    </div>
    <div class="description__company">
      <h2>「郷土を愛する心と、誇り」</h2>
      <p>
        石丸製麺は明治37年創業以来、ふるさと讃岐（香川県）で生まれ育った伝統の技と心で、<br>
        最高の味をめざし麺づくり一筋に取り組んでまいりました。<br>
        この伝統の技を革新的な製造技術で磨き・高めながら、一方で国産小麦の活用にも積極的に取り組んでいく。<br>
        これが石丸製麺にとって革新的、永続的なテーマなのです。<br>
        わたしたちはこれからも、たゆまぬ努力を重ね、最高のおいしさを皆様にお届けしていくことを誓います。
      </p>
    </div>
    <div class="company__bio">
      <h2>
        <span>原</span>
        料へのこだわり、製造技術向上への挑戦「信頼を」重ねて百十余年の歴史
      </h2>
      <div class="greate__man">
        <div>
          <img src="{{ '../assets/img_about.png' | asset_url }}" alt="">
        </div>
        <div>
          <p>
            石丸製麺は1904年（明治37年）、昔から小麦栽培が盛んだった「香川県高松市香南町」で、創業者 石丸好太郎が開いた乾麺製造業から始まりました。
          </p>
          <p>
            程なく製粉業を開業し、自ら原料である小麦粉の質向上に力を注ぐことで、高品質な製麺が可能となり、これが当社の経営の安定と成長を支える基盤となりました。
          </p>
          <p>
            以来、「原料の品質の高さこそうどんづくりの根本である」を原理原則として、乾麺製造設備への積極的な投資や技術の向上に努めて参りました。
          </p>
        </div>
      </div>
      <div class="device__history">
        <h2>歴史の上に築き上げられた、最新設備と技術</h2>
        <div class="history__image">
          <div class="history__item">
            <img src="{{ '../assets/img_about03.jpeg' | asset_url }}" alt="">
            <p>製粉、製麺所 (昭和35年頃)</p>
          </div>
          <div class="history__item">
            <img src="{{ '../assets/img_about04.jpeg' | asset_url }}" alt="">
            <p>第1工場熟成ボックス</p>
          </div>
          <div class="history__item">
            <img src="{{ '../assets/img_about05.jpeg' | asset_url }}" alt="">
            <p>第3工場包装ライン</p>
          </div>
        </div>
      </div>
      <div class="wheat">
        <img src="{{ '../assets/img_about06.png' | asset_url }}" alt=""/>
        <div>
          <p>
            石丸製麺では、地元香川が誇る「さぬきの夢」を始めとするさまざまな国産小麦に挑戦しております。
          </p>
          <p>
            それは、「国産小麦の品質の高さを国内外に証明したい」という思いから始まったものです。
            国産小麦は外国産小麦に比べ製麺が難しいと言われてきましたが、独自の技術による革新的な製造ラ
            インを増設したことで、国産小麦の多品種化に対応することが可能になりました。
          </p>
        </div>
      </div>
      <div class="greate__man">
        <div>
          <img src="{{ '../assets/img_about07.jpeg' | asset_url }}" alt="">
        </div>
        <div class="insurance">
          <p>
            石丸製麺では、「讃岐うどんミュージアム」を設け、国内外の観光客の皆様に見学していただいています。。
          </p>
          <p>
            我が郷土の誇りでもあるうどん文化を全国・世界に発信していくとともに、お客様と社員の交流を通して、確かな製品づくりへのモチベーションをさらに高めてまいります。
          </p>
        </div>
      </div>
    </div>
    <div class="important___thing">
      <h2>
        <span><img src="{{ '../assets/logo_about.jpeg' | asset_url }}" alt="">
          <span>4つの「たいせつなもの」</span>
        </span>
      </h2>
      <div class="important__card">
        <div class="important__item">
          <img src="{{ '../assets/ph_commit01.jpeg' | asset_url }}" alt="">
          <div class="important__item-text">
            <span>其の一</span>
            <p>製品の品質を左右する原料には妥協しません。
              <br>
              また、国産小麦をはじめ、緑茶など新しい原料に注目 <br> し、 新たな製品づくりへの挑戦をし続けます。
            </p>
          </div>
        </div>
        <div class="important__item">
          <img src="{{ '../assets/ph_commit02.jpeg' | asset_url }}" alt="">
          <div class="important__item-text">
            <span>其の二</span>
            <p>
              手打ちの技術を徹底分析・研究し、独自の技術として、ハード・ソフト面で体系化。<br>
              高い安全性の品質管理システムに基づく設備と管理体制を備えています。
            </p>
          </div>
        </div>
        <div class="important__item">
          <img src="{{ '../assets/ph_commit03.jpeg' | asset_url }}" alt="">
          <div class="important__item-text">
            <span>其の三</span>
            <p>
              最先端の安全・品質管理体制を整備し、細心の注意を払い製品の管理を行っております。<br>
              練り、熟成、裁断、乾燥、計量、包装の各工程において、最新の検査機器と専任スタッフにより、細部にわたり品質チェックを実施しております。
            </p>
          </div>
        </div>
        <div class="important__item">
          <img src="{{ '../assets/ph_commit04.jpeg' | asset_url }}" alt="">
          <div class="important__item-text">
            <span>其の四</span>
            <p>
              石丸製麺では工場見学を実施しており、毎年国内外からお客様をお迎えしております。<br>
              見学では、社員全員でおもてなしの心を大切にお接待させて頂きます。お客様との交流は、社員のモチベーションアップにもつながっております。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const isTablet = /iPad|Android/i.test(navigator.userAgent) && !/Mobile/i.test(navigator.userAgent);
  const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
  const aboutSlogan = document.querySelector(".about__slogan")
  const a = document.querySelector(".greate__man")
  const c = document.querySelector(".greate__man img")
  const historyImageList = document.querySelector(".history__image")
  const historyItem = document.querySelectorAll(".history__item ")
  const b = document.querySelector(".company__bio .greate__man:nth-child(5)")
  const importantItemText = document.querySelectorAll(".important__item-text");
  const importantItem = document.querySelectorAll(".important__card .important__item")
  if (isMobile) {
    aboutSlogan.classList.remove("about__slogan");
    aboutSlogan.classList.add("mobile-sp");
    a.classList.add("mobile__sp-text");
    c.style.width = "150px"
    historyImageList.classList.add("history__image-Sp");
    historyItem.forEach((item) => {
      item.style.width = "143px"
    })
    b.style.display = "block";
    importantItemText.forEach((item) => {
      item.classList.add("important__item-textSp")
    })
    importantItem.forEach((item) => {
      item.style.padding = "10px 20px"
      item.style.margin = "0"
    })
  }
</script>