{{ 'payment-box.css' | asset_url | stylesheet_tag }}
<div id="payment_box">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="payment__item">
          <div class="payment__item-header">
            <h2>お支払方法</h2>
          </div>
          <div class="payment__item-content">
            <div class="payment__item-text">
              <span>クレジットカード（手数料無料）</span>
              <div class="payment__card-image">
                <img src="{{ '../assets/img_payment.png' | asset_url }}" alt="payment">
              </div>
              <p>
                荷物の発送が完了した時点でカード会社へ代金を請求します</p>

            </div>
            <div class="payment__item-text">
              <span>楽天ペイ（手数料無料））</span>
              <p>
                いつもの楽天IDとパスワードを使ってスムーズなお支払いが可能です。</p>
            </div>
            <div class="payment__item-text">
              <span>PayPay（手数料無料）</span>
              <p>
                「チャージしたPayPay残高を利用して支払い」のみ対応しております。</p>
            </div>
            <div class="payment__item-text">
              <span>代金引換（手数料無料）</span>
              <p>
                ご注文者様のご自宅へお届けの商品がない場合、またはゆうパケット発送商品はご利用いただけません。</p>
            </div>
            <div class="payment__item-text">
              <span>【前払い】銀行振込（手数料はお客様負担）</span>
              <p>
                銀行窓口、ATMまたはオンラインバンキングにてお振込いただく方法です。※手数料はお客様負担となります。</p>
            </div>
            <div class="payment__item-text">
              <span>【前払い】コンビニ決済</span>
              <div class="payment__item-image">
                <img src="{{ '../assets/logo_711.gif' | asset_url }}" alt="711">
                <img src="{{ '../assets/logo_lawson.gif' | asset_url }}" alt="lawson">
                <img src="{{ '../assets/logo_ministop.gif' | asset_url }}" alt="ministop">
                <img src="{{ '../assets/logo_seico.gif' | asset_url }}" alt="seico">
                <img src="{{ '../assets/logo_familymart.gif' | asset_url }}" alt="familymart">
              </div>
              <ul class="payment__item-description">
                <li>コンビニエンスストア店頭でのお支払いは現金のみとなります。</li>
                <li>お支払期限内（ご注文完了日を含めて7日以内）にご指定のコンビニエンスストアにてご入金をお願いします。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="payment__item">
          <div class="payment__item-header">
            <h2>お届けについて</h2>
          </div>
          <div class="payment__item-content">
            <div class="payment__item-text">
              <span>ご注文～商品お届け日までの目安</span>
              <ul class="payment__item-description info-ship">
                <li>原則として、ご注文承り後1週間以内に発送いたします</li>
                <li>お届けの希望日がありましたら、ご注文日から5営業日以降3か月以内の日付で設定してください</li>
                <li>ただし、交通事情などによりお届け日が前日、翌日になる場合がございますので、あらかじめご了承ください</li>
                <li>お中元、お歳暮時期は大変混雑いたします。恐れ入りますが、なるべくお早めにご注文ください</li>
                <li>ゆうパケットでの発送の場合は、お届け日時のご指定はできません</li>
              </ul>

            </div>
            <div class="payment__item-text">
              <span>配達業者</span>
              <div class="payment__card-image industry__image">
                <img src="{{ '../assets/img_industry.jpeg' | asset_url }}" alt="">
              </div>
              <p>※ただし大口のご注文の場合、他の運送会社に変更する場合がございます。</p>
              <div class="payment__card-image industry__image">
                <img src="{{ '../assets/logo_yupake.png' | asset_url }}" alt="">
              </div>
              <p>※ゆうパケット対象商品は、ご自宅のポストに直接投函いたします。</p>
            </div>
            <div class="payment__item-text">
              <span>宅急便用配送時間帯</span>
              <div class="payment__card-image">
                <img src="{{ '../assets/img_dashbroad.png' | asset_url }}" alt="">
                <p>上記の配送時間帯からお選びいただけます。</p>
                <p>ご注文の際にご指定ください。</p>
              </div>
            </div>
            <div class="payment__item-header sub-header">
              <h2>返品・交換について</h2>
            </div>
            <div class="payment__item-content">
              <div class="payment__item-text">
                <ul class="payment__item-description info-ship">
                  <li>商品の品質には万全の注意をはらっておりますが、
                    配送中の事故等で商品に破・汚損が生じた場合、
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        出荷間違いの場合は、商品到着後1週間以内にご連絡ください。</li>
                  <li>商品を交換させていただきます。</li>
                  <li>なお、お客様のご都合による商品の返品、交換はいたしかねますのでご容赦ください。</li>
                </ul>
                <div class="info__contact">
                  <p>【連絡先】</p>
                  <p>メール : info@isimaru.co.jp</p>
                  <p>TEL ： 0120-459140</p>
                  <p id="date__time">（受付時間：8時半～17時　土日祝日を除く)</p>
                  <p>香川県高松市香南町岡701</p>
                  <p>石丸製麺株式会社</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="payment__item">
          <div class="payment__item-header">
            <h2>送料について</h2>
          </div>
          <div class="payment__item-content">
            <div class="payment_info-ship">
              <div class="payment__item-text">
                <span>配送料金</span>
                <p class="ship__address">■本州・九州・四国にお届け</p>
                <p>お届け先１箇所につき商品代金5,000円(税込)以上のご注文で送料無料となります。</p>
                <div class="payment__card-image ship_image">
                  <img src="{{ '../assets/sou_honshux.png' | asset_url }}" alt="">
                </div>
              </div>
              <p style="font-size: 11px;">お届け先1箇所につき商品代金5,000円(税込)未満の場合は、以下の通り送料をご負担いただきます。</p>
              <table class="table__count">
                <tbody>
                  <tr>
                    <th>地域</th>
                    <th>四国</th>
                    <th>本州・九州</th>
                  </tr>
                  <tr>
                    <td>送料</td>
                    <td>500円(税込)</td>
                    <td>800円(税込)</td>
                  </tr>
                </tbody>
              </table>
              <div class="info__ship">
                <p>※ お届け先1箇所につき、重量に関係なく送料一律です。</p>
                <p>※ 一部送料込商品の別途送料は不要です。</p>
              </div>
            </div>
            <div class="payment_info-ship">
              <div class="payment__item-text">
                <span>配送料金</span>
                <p class="ship__address">■北海道・沖縄にお届け</p>
                <p>お届け先１箇所につき商品代金10,000円(税込)以上のご注文で送料無料となります。</p>
                <div class="payment__card-image ship_image">
                  <img src="{{ '../assets/sou_hokkaix.png' | asset_url }}" alt="">
                </div>
              </div>
              <p>お届け先1箇所につき商品代金10,000円(税込)未満の場合は、以下の通り送料をご負担いただきます。</p>
              <table class="table__count ">
                <tbody>
                  <tr>
                    <th>地域</th>
                    <th>北海道・沖縄</th>
                  </tr>
                  <tr>
                    <td>送料</td>
                    <td>1,500円(税込)(税込)</td>
                  </tr>
                </tbody>
              </table>
              <div class="info__ship">
                <p>※ お届け先1箇所につき、重量に関係なく送料一律です。</p>
                <p>※一部送料込商品に関しましては、お届け先1箇所の商品代金が10,000円(税込)未満の際は、別途500円頂戴いたします。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp hide">
      <div class="menu__sp">
        <h2>商品カテゴリー</h2>
        <ul class="menu">
          <li class="list__sp">
            <p>お試し商品【送料無料】
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>半生うどん
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>乾めん
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>うどん</span>
              </li>
              <li>
                <span>そうめん</span>
              </li>
              <li>
                <span>ひやむぎ・きしめん</span>
              </li>
              <li>
                <span>そば</span>
              </li>
              <li>
                <span>ラーメン</span>
              </li>
            </ul>
          </li>
          <li class="list__sp">
            <p>全粒粉うどん・パスタ
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>全粒粉パスタ</span>
              </li>
            </ul>
          </li>
          <li class="list__sp">
            <p>低糖質うどん
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>送料込商品
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>ギフト・詰合せ
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>半生めんギフト</span>
              </li>
              <li>
                <span>乾めんギフト</span>
              </li>
              <li>
                <span>風呂敷包みギフト</span>
              </li>
            </ul>
          </li>
          <li class="list__sp">
            <p>お土産・ご挨拶
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>めんつゆ・うどんだし
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>国産小麦
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
          <li class="list__sp">
            <p>1袋単品
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>半生うどん</span>
              </li>
              <li>
                <span>乾めん</span>
              </li>
            </ul>
          </li>
          <li class="list__sp list__sp-red">
            <p>金額から選ぶ
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>～ 1,000円</span>
              </li>
              <li>
                <span>1,000円 ～ 2,000円</span>
              </li>
              <li>
                <span>2,000円 ～ 3,000円</span>
              </li>
              <li>
                <span>3,000円 ～ 5,000円</span>
              </li>
              <li>
                <span>5,000円 ～</span>
              </li>
            </ul>
          </li>

          <li class="list__sp">
            <p>麺の太さから選ぶ
              <i class="fa-solid fa-plus"></i>
            </p>
            <ul class="sub__menu">
              <li>
                <span>すべて</span>
              </li>
              <li>
                <span>細めん</span>
              </li>
              <li>
                <span>並めん</span>
              </li>
              <li>
                <span>太めん</span>
              </li>
            </ul>
          </li>
          <li class="list__sp">
            <p>紙袋・ビニール袋
              <i class="fa-solid fa-caret-right"></i>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  function showSubMenu() {
    var liElements = document.getElementsByTagName("li");
    for (var i = 0; i < liElements.length; i++) {
      liElements[i].addEventListener("click", function() {
        var subMenu = this.querySelector(".sub__menu");
        var icon = this.querySelector("i");

        if (subMenu !== null) {
          if (subMenu.style.display === "block") {
            subMenu.style.display = "none";
            icon.classList.remove("fa-minus");
            icon.classList.add("fa-plus");
          } else {
            var allSubMenus = document.querySelectorAll(".sub__menu");
            for (var j = 0; j < allSubMenus.length; j++) {
              allSubMenus[j].style.display = "none";
            }

            var allIcons = document.querySelectorAll("li .fa-minus");
            for (var k = 0; k < allIcons.length; k++) {
              allIcons[k].classList.remove("fa-minus");
              allIcons[k].classList.add("fa-plus");
            }
            subMenu.style.display = "block";
            icon.classList.remove("fa-plus");
            icon.classList.add("fa-minus");
          }
        } else {
          var allSubMenus = document.querySelectorAll(".sub__menu");
          for (var j = 0; j < allSubMenus.length; j++) {
            allSubMenus[j].style.display = "none";
          }

          var allIcons = document.querySelectorAll("li .fa-minus");
          for (var k = 0; k < allIcons.length; k++) {
            allIcons[k].classList.remove("fa-minus");
            allIcons[k].classList.add("fa-plus");
          }
        }
      });
    }
  }
  const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
  const sp = document.querySelector(".sp")
  const row = document.querySelector(".row")
  if (isMobile) {
    sp.classList.add("show");
    sp.classList.remove("hide");
    row.classList.add("hide");
  }
  showSubMenu()
</script>